rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email == 'ashroflukman@gmail.com';
    }

    function isPublishedContent() {
      return resource.data.isPublished == true &&
        resource.data.isDeleted == false;
    }

    match /series/{id} {
      allow read: if isAdmin() || isPublishedContent();
      allow write: if isAdmin();
    }
    match /episodes/{id} {
      allow read: if isAdmin() || isPublishedContent();
      allow write: if isAdmin();
    }
    match /speakers/{id} {
      allow read: if isAdmin() || resource.data.isDeleted == false;
      allow write: if isAdmin();
    }
    match /videos/{id} {
      allow read: if isAdmin() || isPublishedContent();
      allow write: if isAdmin();
    }
  }
}
